@charset "UTF-8";

/*
    Paleta de Cores:
    
    Prata: #c8ccce;
    Cinza Escuro: #565f64;
    Verde Tifany: #00a19b;
*/

* {
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, black, #00a19b);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;   /*Centralização da tela de login, fazendo primeiro a versão mobile first(primeiro a versão de celular)*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;   /*Tudo que estiver para fora da borda ficar escondido, para poder fazer o radius na parte da imagem*/
    background-color: white;
    width: 250px;     /*Tamanho para a tela de login, no caso para mobile first*/
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.600);
    transition: width 0.25s, height 0.25s;
    transition-timing-function: ease; /*Vai suavizar na hora das transições de uma tela pra outra*/
}

section#login > div#imagem {
    display: block;
    background: #00a19b url('../imagens/pexels-jonathanborba-29382697.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #c8ccce;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #00a19b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #018682;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #007975;
    border: 1px solid #00a19b;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #00dad2;
}

form > a.botao > i {
    font-size: 1.2em;
    padding-left: 5px;
}
